# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

COMMIT_MESSAGE.md
DEPLOY.md
.env

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/
.replit-artifact/

# Generated/User Uploads
artifacts/api-server/uploads/
artifacts/playzone-bar/public/uploads/
attached_assets/

# Environment files
.env.local
.env.*.local

# IDE
*.swp
*.swo
*~
.vscode-test
.vscode_test
.vscode/.DS_Store
